GOOGLE_SERVICE_ACCOUNT_FILE=./secrets/google-service-account.json
GOOGLE_SPREADSHEET_ID=1jNBvI-UEib96W8tgbqeTIlyh-deAZucZSb6QnkY-Sm0
ADSPOWER_API_BASE=http://127.0.0.1:50325
ADSPOWER_API_KEY=d3e65b51fad0b6701f9df5c7aec97d310079cfa22c3a20bd
